# DISCORD: won't run if token is empty
token = ""
# Your server ID
guild = 123456
# Your channel IDs
channels = {
        "test": 123456,
        "bz": 789012,
        "bosses": 345678
}

# IRCCAT: empty if deactivated, otherwise and usually http://localhost:8045/send
irccat = ""
